<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "PestControlService",
  "name": "Bug Guys Pest Control",
  "alternateName": "Bug Guys LLC",
  "image": "https://wekillthebugs.net/assets/images/roach2.jpg", 
  "@id": "https://wekillthebugs.net/#organization",
  "url": "https://wekillthebugs.net",
  "telephone": "+19196308966",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "226 Sheriff Watson Rd",
    "addressLocality": "Sanford",
    "addressRegion": "NC",
    "postalCode": "27332",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 35.4415,
    "longitude": -79.1414
  },
  "areaServed": [
    {
      "@type": "State",
      "name": "North Carolina"
    },
    {
      "@type": "City",
      "name": "Sanford"
    },
    {
      "@type": "City",
      "name": "Raleigh"
    },
    {
      "@type": "City",
      "name": "Apex"
    },
    {
      "@type": "City",
      "name": "Cary"
    },
    {
      "@type": "City",
      "name": "Holly Springs"
    },
    {
      "@type": "City",
      "name": "Fuquay-Varina"
    }
  ],
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Pest Control Services",
    "itemListElement": [
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Termite Protection"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Crawlspace Encapsulation"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Mosquito Control"
        }
      }
    ]
  }
}
</script>