// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2274 {
        /* 150px - 350px Top */
        padding: clamp(13rem, 30.95vw, 21.875rem) (16/16rem) 0;
        overflow: hidden;
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (88/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
            padding-bottom: 3rem;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (28/16rem);
            background-color: var(--primary);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: (12/16rem);
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 427px - 581px */
            max-width: clamp(26.6875rem, 50vw, 36.3125rem);
            height: auto;
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: 7;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-image-group {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        /* Apply the overlay to both background containers */
        .cs-background1, .cs-background2 {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1; /* Ensure it stays above the img but below text */
            }
        }

        .cs-background2 {
            height: 100vw;
            max-height: (480/16rem);
            flex: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2274 {
        padding-top: 13rem;
        padding-bottom: (150/16rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: (90/16rem);

        .cs-container {
            justify-content: flex-start;
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 53%;
            align-items: flex-start;
        }

        .cs-picture {
            width: 56%;
            position: absolute;
            bottom: (-65/16rem);
            right: (-30/16rem);
        }

        .cs-image-group {
            flex-direction: row;
        }

        .cs-background2 {
            width: 25vw;
            height: 100%;
            max-height: 100%;
            border-left: 2px solid #FFC219;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2274 {
        padding-top: 10rem;
        /* 100px - 172px */
        padding-bottom: clamp(6.25rem, 12vw, 10.9375rem);

        .cs-picture {
            width: 45%;
            /* same value as the padding, but opposite */
            bottom: calc(clamp(6.25rem, 12vw, 10.9375rem)*-1);
            /* 32px - 80px */
            right: clamp(2rem, 5vw, 5rem);
        }

        .cs-background2 {
            width: 32.8125vw;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #Hservices-2274 {
        width: 100%;
        padding: var(--sectionPadding);
        position: relative;
        z-index: 20;

        .cs-container {
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            z-index: 1;
        }

        .cs-card-group {
            width: 100%;
            max-width: (1280/16rem);
            margin: 0;
            padding: 0;
            background-color: #fff;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (32/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition:
                background-color 0.3s,
                border-color 0.3s;

            &:last-of-type {
                .cs-link {
                    /* 32px - 80px top & bottom */
                    /* 16px - 80px left & right */
                    padding: clamp(2rem, 7vw, 5rem) clamp(1rem, 4vw, 5rem);
                    box-sizing: border-box;
                }

                .cs-icon {
                    width: (64/16rem);
                    margin-bottom: (24/16rem);
                }

                .cs-h3 {
                    font-size: (25/16rem);
                }

                .cs-item-text {
                    margin-bottom: (32/16rem);
                }
            }
        }

        .cs-number {
            font-size: (72/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-fake-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0 0 (4/16rem) 0;
            border-bottom: 1px solid var(--primary);
            color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
                opacity: .08;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            margin: 0 0 (20/16rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #Hservices-2274 {
        .cs-card-group {
            width: 44%;
        }

        .cs-item {
            &:last-of-type {
                width: 49%;
                position: absolute;
                right: 0;
                top: calc(clamp(10rem, 20vw, 12.5rem)*-1);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #Hservices-2274 {
        .cs-item {
            &:last-of-type {
                width: 37vw;
                max-width: (400/16rem);
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #Hservices-2274 {
        padding: 0;

        .cs-card-group {
            width: (860/16rem);
            padding: (60/16rem) 0;
            column-gap: (20/16rem);
        }

        .cs-item {
            grid-column: span 4;

            &:last-of-type {
                top: auto;
                bottom: 0;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #Hservices-2274 {
            .cs-card-group {
                background-color: var(--dark);
            }

            .cs-background {
                background-color: var(--dark);
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .5);
                    opacity: 1;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-h3, .cs-item-text, .cs-number {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1672 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1672 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1672 {
            .cs-title,
            .cs-review,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }

            .cs-quote {
                opacity: 0.2;
            }
        }
    }
}
                                
                                
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1750 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1024 on desktop */
            max-width: (704/16rem);
            margin: auto;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            /* 48px - 64px */
            gap: clamp(3rem, 5vw, 4rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-form-group {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* resets to 0 at tablet */
            margin: auto;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0 0 (24/16rem);
        }

        .cs-form {
            width: 100%;
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (16/16rem);
        }

        .cs-label {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            grid-column: span 12;
            gap: (8/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            /* 46px - 56px */
            height: clamp(2.875rem, 4.5vw, 3.5rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            padding: 0;
            padding-left: (24/16rem);
            background-color: #f7f7f7;
            color: var(--headerColor);
            border: none;

            &::placeholder {
                color: var(--bodyTextColor);
            }
        }

        .cs-textarea {
            font-family: inherit;
            min-height: (120/16rem);
            padding-top: (24/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            overflow: hidden;
            color: #1a1a1a;
            border: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            margin: (16/16rem) 0 0;
            color: var(--bodyTextColorWhite);
            grid-column: span 12;
            justify-self: flex-start;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-info-group {
            display: flex;
            flex-direction: column;
            gap: (24/16rem);
        }

        .cs-detail {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-picture-group {
            width: 110%;
            height: 100vw;
            /* removed at desktop */
            max-height: (502/16rem);
            margin-top: (48/16rem);
            overflow: hidden;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-iframe {
            width: 100%;
            height: 100%;
            display: block;
        }

        .cs-graphic {
            width: 100%;
            min-width: (1280/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-top {
            top: 0;
        }

        .cs-left {
            left: 4%;
            transform: rotate(270deg);
            transform-origin: left;
        }

        .cs-bottom {
            bottom: 0;
            left: 0;
            transform: rotateX(180deg);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-1750 {
        .cs-container {
            flex-direction: row;
            align-items: center;
        }

        /* using flex: 1 on both group elements to ensure they're both the same width */
        .cs-form-group {
            flex: 1;
        }

        .cs-info-group {
            flex: 1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1750 {
        .cs-container {
            width: 65%;
            max-width: (1024/16rem);
            margin: 0 auto 0 0;
            padding: (40/16rem) (24/16rem);
        }

        .cs-picture-group {
            width: 90%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            z-index: -1;
            transform: none;
        }

        .cs-picture-group {
            margin-left: (-204/16rem);
            left: 50%;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #contact-1750 {
        .cs-label {
            &:nth-of-type(2),
            &:nth-of-type(3) {
                grid-column: span 6;
            }
        }
    }
}

/* Largest Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #contact-1750 {
        padding-top: 7vw;
        padding-bottom: 9vw;

        .cs-container {
            margin: 0 auto;
            transform: translateX(-22rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-1750 {
            .cs-container {
                background-color: var(--dark);
            }

            .cs-label,
            .cs-detail {
                color: var(--bodyTextColorWhite);
            }

            .cs-input {
                background-color: var(--medium);
                color: var(--bodyTextColorWhite);
                border-color: rgba(255, 255, 255, 0.2);

                &::placeholder {
                    color: #fff;
                    opacity: 0.5;
                }
            }

            .cs-light {
                display: none;
            }

            .cs-dark {
                display: block;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1191 {
        padding: var(--sectionPadding);
        /* prevents padding from affecting height and  */
        box-sizing: border-box;

        .cs-container {
            /* changes to 1440px at desktop */
            max-width: (940/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-image {
            width: 100%;
            max-width: (510/16rem);
            height: auto;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            row-gap: (16/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            max-width: (368/16rem);
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            box-sizing: border-box;
            /* prevents border from affecting height and width */
            background-color: #f7f7f7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            text-align: inherit;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            color: #fff;
            background-color: var(--primary);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-align: center;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1191 {
        .cs-card-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .cs-item {
            text-align: left;
            margin: 0;
            width: 32%;
            align-items: flex-start;
        }

        .cs-image {
            max-height: (450/16rem);

            img {
                width: 100%;
                height: auto;
                max-height: (450/16rem);
                object-fit: contain;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1191 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-image {
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            img {
                width: auto;
                height: auto;
            }
        }

        .cs-card-group {
            align-items: flex-start;
            justify-content: center;
            /* 180px - 356px */
            column-gap: clamp(11.25rem, 21vw, 22.25rem);
            /* 40px - 88px */
            row-gap: clamp(2.5rem, 8vw, 5.5rem);
        }

        .cs-item {
            width: 32vw;
            max-width: (422/16rem);
            flex-direction: row;
            position: relative;

            &:nth-of-type(odd) {
                text-align: right;
                .cs-picture {
                    /* sends it to the right in the 2nd position */
                    order: 2;
                }
            }

            &:nth-of-type(3) {
                /* 90px - 1280px */
                left: ~"calc(clamp(5.625rem, 8vw, 8rem)*-1)";
            }

            &:nth-of-type(4) {
                /* 90px - 1280px */
                right: ~"calc(clamp(5.625rem, 8vw, 8rem)*-1)";
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1191 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-picture {
                background-color: var(--medium);
            }

            

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-892 {
        /* Centers Button */
        text-align: center;
        padding: var(--sectionPadding);
        /* prevents the arrow from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: (1000/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            background-color: #fef7f4;
            border-radius: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            grid-column: span 6;
            position: relative;
            z-index: 1;
        }

        .cs-icon {
            width: (48/16rem);
            height: auto;
            margin: 0 0 (20/16rem) 0;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-floater {
            width: (351/16rem);
            height: auto;
            display: none;
            position: absolute;
            top: (-220/16rem);
            right: (-60/16rem);
            transform: rotate(-66deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-892 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 2;
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-892 {
            &:before {
                opacity: 0.2;
                background-color: #000;
            }
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-heading3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--accent);
            }

            .cs-h3,
            .cs-item-text,
            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-floater {
                opacity: 0.5;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-598 {
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: (256/16rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-598 {
        /* 90px - 150px */
        /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
        padding: clamp(5.625rem, 9vw, 9.375rem) (16/16rem);
        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50%;
        }

        .cs-content {
            width: 45%;
            padding: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-598 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

                                                     
                                
                                
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-quote {
            margin: 0 0 (32/16rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #767676;
            display: block;
        }

        .cs-name {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-313,
        #RPsbsr-313 {
            .cs-image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-quote-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-313 {
        background-color: #f7f7f7;
        .cs-picture1 {
            left: auto;
            right: 0;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-quote {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-313 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-313 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-48 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
            max-width: 20ch;
        }

        .cs-image-group {
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: ~"min(1.1vw, 1em)";
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-picture {
            width: 100%;
            position: relative;
            display: block;
            border-radius: (8/16rem);
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-row-1 {
            .cs-picture-1 {
                height: (567/16em);
            }

            .cs-picture-2 {
                height: (629/16em);
            }

            .cs-picture-3 {
                height: (512/16em);
            }
        }

        .cs-row-2 {
            .cs-picture-1 {
                height: (492/16em);
            }

            .cs-picture-2 {
                height: (517/16em);
            }

            .cs-picture-3 {
                height: (629/16em);
            }
        }

        .cs-row-3 {
            .cs-picture-1 {
                height: (625/16em);
            }

            .cs-picture-2 {
                height: (452/16em);
            }

            .cs-picture-3 {
                height: (629/16em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-48 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-67 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            column-gap: (20/16rem);
            row-gap: (64/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* pushes up the same amount the cs-item-img overlaps the card */
            margin: (40/16rem) 0 0 0;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: (8/16rem);
            background: #fff;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            width: (80/16rem);
            height: (80/16rem);
            position: absolute;
            top: (-40/16rem);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            color: var(--bodyTextColor);
            border-bottom: 1px solid #e8e9ec;
        }

        .cs-info {
            width: 100%;
            /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
            margin: auto 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .cs-flex-group {
            width: 100%;
            margin: 0;
        }

        .cs-name {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 700;
            width: 40%;
            margin: 0;
            display: block;
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: (14/16rem);
            font-weight: 400;
            color: #7d799c;
            display: block;
        }

        .cs-item-stars {
            width: (96/16rem);
            height: (16/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-67 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-67 {
            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: rgba(0, 0, 0, 0.2);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}
.hidden {
    display: none;
}
